@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-y: scroll;
  color: var(--foreground);
  overscroll-behavior: none;
  background: var(--background);
  font-family: Roboto, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(2, 64, 2, 0.05);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: rgba(2, 64, 2, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 64, 2);
}
